*{
   font-family: Cascadia Code;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: linear-gradient(to right, black, saddlebrown, black);

}
#header {
    background-clip: text;
    background-image: linear-gradient(to right, steelblue, #ffffff, steelblue);
    padding: 20px;
    text-align: center;
}
#title {
    font-size: 50px;
    font-weight: bold;
}
#main-content {
    background-image: url('./Landscape.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px;
    text-align: center;
}
#welcome-message, #description {
    color: black;
    font-weight: bold;
}

#about-button, #registration-button, #Login{
    background-color: steelblue;
    color: black;
    padding: 10px 20px;
    margin-left: 20px;
    background-size: 50px;
}

#footer {

    padding: 20px;
    text-align: center;
    background-clip: text;
    background-image: linear-gradient(to right, steelblue, #ffffff, steelblue);
}

#copyright {
    color: steelblue;
}

/*
The following are for the about page
 */

#Names{
    color: grey;
}

.Names{
    color: grey;
}

footer{
    height: 200px;
    position: sticky;
    top: auto;
    margin-top: 50px;
    padding-top: 100px;
}

.Logo{
    position: absolute;
    right: 0px;
    bottom: 10px;
    left: 1400px;
}

