*{
   font-family: Cascadia Code;
}

body {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url("download.jpg");


}
#header {
    padding: 20px;
    text-align: center;
}
#title {
    font-size: 50px;
    font-weight: bold;
}
#main-content {
    background-size: cover;
    background-position: center;
    padding: 40px;
    text-align: center;
}
#welcome-message, #description {
    color: black;
    font-weight: bold;
}

#about-button{
    position: absolute;
    right: 0px;
    bottom: 10px;
    left: 15px;
    text-align: center;
}

#Start {
    background-color: transparent;
    color: black;
    margin-left: 0px;
    background-size: 100px;
    position: center;
    border: 100px solid black;
    height: 150px;
    width: 200px;
    padding: 0;

    background: none;
}

#footer {
    padding: 20px;
    text-align: center;
}
#copyright {
    color: steelblue;
}

/*
The following are for the about page
 */

#Names{
    color: grey;
}

.Names{
    color: grey;
}

footer{
    height: 200px;
    position: sticky;
    top: auto;
    margin-top: 50px;
    padding-top: 100px;
}

.Logo{
    position: absolute;
    right: 0px;
    bottom: 10px;
    left: 1400px;
}

functiom Start
