*{
   font-family: Cascadia Code;
}

body {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url("download.jpg");


}
#header {
    padding: 20px;
    text-align: center;
}
#title {
    font-size: 50px;
    font-weight: bold;
}
#main-content {
    background-size: cover;
    background-position: center;
    padding: 40px;
    text-align: center;
}

#welcome-message, #description {
    color: black;
    font-weight: bold;
}

#about-button{
    background-color: darkgray;
    color: black;
    background-size: 100px;
    position: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 40px;
    width: 100px;
    height: 70px;
    font-size: large;
}

#about-button:link {
    text-decoration: none;
}

#about-button:visited {
    text-decoration: none;
}

#about-button:hover {
    text-decoration: none;
}

#about-button:active {
    text-decoration: none;
}


#Start {
    background-color: darkgray;
    margin-left: 0px;
    background-size: 100px;
    position: center;
    border: 2px solid black;
    border-radius: 15px 50px;
    color: black;
    height: 150px;
    width: 200px;
    padding: 30px;
    font-size: xx-large;

}

#Start:link {
    text-decoration: none;
}

#Start:visited {
    text-decoration: none;
}

#Start:hover {
    text-decoration: none;
}

#Start:active {
    text-decoration: none;
}

#footer {
    padding: 20px;
    text-align: center;
}

#copyright {
    color: steelblue;
}

/*
The following are for the about page
 */

#Names{
    color: #242526;
}

.Names{
    color: #242526;
}

footer{
    height: 200px;
    position: sticky;
    top: auto;
    margin-top: 50px;
    padding-top: 100px;
}

.Logo{
    position: absolute;
    right: 0px;
    bottom: 10px;
    left: 1400px;
}


