header {
    height: 100px;
    margin: 0px;
    padding: 0px;
    background-image: url("images.jpg");

}

body {  /* The body tag of all pages */
    margin: 0px;
    padding: 0px;

    background-image: url("download.jpg");
}

#challengeList {
    list-style: none;
}

li {
    /*border-width: ;*/
}
