:root {
    --pop-up: block;
}

*{
    font-family: Cascadia Code;
}

header {
    height: 100px;
    margin: 0px;
    padding: 0px;
    background-image: url("images.jpg");

}

body {  /* The body tag of all pages */
    margin: 0px;
    padding: 0px;

    background-image: url("download.jpg");
}

#challengeList {
    list-style: none;
}

li {
    /*border-width: ;*/
}

#enterName {
    display: var(--pop-up);
    /*position: fixed;
    right: 700px;
    top: 300px;*/
    background-color: white;
    height: 400px;
    width: 500px;
    border: black 6px solid;
    text-align: center;
}

#title {
    margin-bottom: 0px;
}

#explanation {
    margin-top: 0px;
}
