* {
    font-family: Times, "Times New Roman", Georgia, serif;
}

/*Black wood background for only the header*/
header {
    height: 100px;
    max-width: 100%;
    background-image: url("images.jpg");
}

body {  /* The body tag of all pages */
    margin: 0px;
    padding: 0px;
    background-image: url("download.jpg");
}

.abcdAns.submit{
    margin-left: 20px;
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    height: 50px;
    font-size: larger;
}


.boolAns.submit{
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    height: 50px;
    font-size: medium;
}


#challengeList {
    list-style: none;
}

/*Customization for the question button*/
#challengeList li{
    margin: 30px 0px 30px 0px;
}

#challengeList li a{
    background-color: transparent;
    color: black;
    background-size: 1px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 200px;
    height: 150px;
    font-size: large;

}

#challengeList li a:link {
    text-decoration: none;
}

#challengeList li a:visited {
    text-decoration: none;
}

#challengeList li a:hover {
    text-decoration: none;
}

#challengeList li a:active {
    text-decoration: none;
}

/*Name picker box customization*/
#enterName {
    display: block;
    background-color: white;
    height: 400px;
    width: 500px;
    border: black 6px solid;
    margin-top: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

#tutorial {
    margin-left: 40px;
    margin-right: 40px;
}

#title {
    margin-bottom: 0px;
}

#explanation {
    margin-top: 0px;
}

#loader {
    margin-right: 25px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid saddlebrown;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    animation: spin 2s linear infinite;
    float: right;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#question {
    font-size: xx-large;
}

#hint{
    padding: 20px;
}

/* The Header buttons */
#back, #reload, #QRcode {
    margin-top: 40px;
    margin-right: 25px;
    float: right;
    color: antiquewhite;
    font-size: 30px;
}

#QRcode {
    margin-bottom: 10px;
    font-size: 30px;
}

#back:link, #reload:link {
    text-decoration: none;
}

#back:visited, #reload:link {
    text-decoration: none;
}

#back:hover, #reload:link {
    text-decoration: none;
}

#back:active, #reload:link {
    text-decoration: none;
}

h3 {
    margin: 0px 10px 0px 10px;
}

#errorList {
    list-style: none;
    font-weight: bold;
    color: #CC5801;
}

#skipButton {
    border: 1px solid dimgrey;
    background-color: black;
    color: navajowhite;
    padding: 10px;
    text-align: center;
    width: 50px;
    border-radius: 25px;
}

.submit {
    border: 1px solid dimgrey;
    background-color: black;
    color: navajowhite;
    padding: 10px;
    text-align: center;
    width: 50px;
    border-radius: 25px;
}

#message {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: xx-large;
}

#qDisplay {
    float: right;
}

/* For mobile phones */
@media screen and (max-width: 600px) {
    #back, #reload, #QRcode {
        margin-top: 40px;
        font-size: 15px;
    }

    #question, #message {
        font-size: large;
    }
}

.score {
   text-align: center;
    width: 70px;
    float: left;
}

#score {
    width: 10px;
}

.questionsNum {
    float: right;
    text-align: center;
    /*width: 30px;
    margin-top: 15px;
    margin-bottom: 15px;*/
}

#numOfQuestions {
    margin-right: 30px;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
}

.submit {
    border: 1px solid dimgrey;
    background-color: black;
    color: navajowhite;
    padding: 10px;
    text-align: center;
    width: 60px;
}

#trueIntAns, #trueNumAns, #trueTextAns {
    margin-bottom: 10px;
}

#leaderboardDiv {
    text-align: center;
}

table {
    /* border: 2px solid #7A3803; */
    text-align: center;
    font-size: x-large;
    /* padding: 2px; */
}

th {
    border: 2px solid #7A3803;
    /* padding: 5px; */
}

td {
    border: 2px solid #7A3803;
    /* padding: 5px; */
}

#cameraBox {
    position: absolute;
    background-color: white;
    height: 300px;
    width: 400px;
    border: black 6px solid;
    margin: 100px 10px;
    text-align: center;


}

/* Leaderboard for small mobile phones */
@media screen and (max-width: 420px) {
    table {
        font-size: medium;
    }

    #cameraBox {
        width: 10px;
    }

    #back, #reload, #QRcode {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    #back, #reload, #QRcode {
        font-size: 9px;
        margin: 40px 8px 10px 0px;
    }
}

